firebase_admin
streamlit
streamlit_option_menu
matplotlib
pandas
reportlab
fpdf
reportlab
requests
firebase-admin
cv
extra-streamlit-components
Flask
Flask-SQLAlchemy
GitPython
httpcore
httplib2
httpx
json5
keras
matplotlib
matplotlib-inline
Markdown
markdown-it-py
MarkupSafe
np
opencv-python
pandasql
plotly
shapely
statistics
streamlit-authenticator